:root {
    /* Light Mode settings */
    --bg-image: url('../img/chibi\ naruto.jpg');
    --bg-filter: brightness(0.5) saturate(0.6); 
    --glass-bg: rgba(255, 255, 255, 0.7);
    --text-color: #f5f5f7;
    --form-bg: rgba(255, 255, 255, 0.6); 
    --text-color: #212529;
}

[my-theme="dark"] {
    /* Dark Mode settings */
    --bg-image: url('../img/sasuke.jpg');
    --bg-filter: brightness(1) saturate(1); 
    --glass-bg: rgba(0, 0, 0, 0.7);
    --text-color: #f8f9fa;
    --form-bg: rgba(45, 52, 64, 0.8); 
    --text-color: #f8f9fa;
}

body {
    background-image: var(--bg-image);
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 0.4s ease;
    color: var(--text-color);
}

/* glass effect on navbar, service form */
.navbar, #serviceForm, footer {
    background-color: var(--glass-bg) !important;
    backdrop-filter: blur(8px); 
    border: 1px solid rgba(255, 255, 255, 0.1);
}