/*global*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: cursive;
    background-color: rgb(236, 245, 246);
}
/*header*/
.site-header{
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;
}
.menu .menu-link-container{
    list-style:none;
}
.menu-link-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.menu-link a{
    color:white;
    text-decoration: none;
}
.menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.menu-bar-flex{
    display: flex;
    justify-content: space-around;
}
.submit-btn{
    background-color: #00b7ff;
    color:black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
/*main*/

